/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-brand {
  text-align: center;
  display: flex;
  justify-content: center;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav__items {
  display: flex;
  justify-content: flex-end;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/