/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&family=Rochester&display=swap');
//Color settings
$color-bg-body-main-1: #004145;
$color-bg-body-main-2: #62BFC4;
$color-bg-body-neutraal: #FFFEF2;
$color-bg-body-dark-neutraal: #1A1B1B;
$color-bg-body-accent: #218085;

$color-text-dark: #1A1B1B;
$color-text-light: #FFFEF2;
$color-text-active:#218085;
$color-text-disabled: #C9C9C9;

$color-border: #218085;

//Font settings
$font-h1: 'Rochester', serif;
$font-h2: 'Catamaran', sans-serif;
$font-h3: 'Catamaran', sans-serif;
$font-h4: 'Catamaran', sans-serif;
$font-text: 'Catamaran', sans-serif;
$font-button: 'Catamaran', sans-serif;

//Size settings
$fontsize-text: 1rem;
$fontsize-header: 1.75rem;
$fontsize-h1: 2.9863rem;
$fontsize-h2: 2.4881rem;
$fontsize-h3: 2.0737rem;
$fontsize-h4: 1.7281rem;
$fontsize-h5-h6: 1.4063rem;
$fontsize-nav: 1.125rem;
$fontsize-btn: 1.2rem;
$fontsize-socialicons: .8331rem;
$fontsize-footer: .8331rem;

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-toggler{
    border: none;
    &-icon{
        background-image: url(../Images/list.svg);
        width: 100%;
    }
    &:focus{
        box-shadow: none;
    }
}
.navbar-toggler>.close {
    display:inline;
    border: none;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
.btn{
    background-color: $color-bg-body-main-1;
    color: $color-text-light;
    &:hover{
        background-color: $color-bg-body-main-2;
        color: $color-text-dark;
    }
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
i{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff !important;
}
ul{
    list-style-type: none;
    margin: 0;
}
h1{
    font-family: $font-h1;
    font-size: $fontsize-h1;
}
h2{
    font-family: $font-h2;
    font-size: $fontsize-h2;
    font-weight: 600;
}
h3{
    font-family: $font-h3;
    font-size: $fontsize-h3;
    font-weight: 500;
}
h4{
    font-family: $font-h4;
    font-size: $fontsize-h4;
    font-weight: 400;
}
h5, h6{
    font-family: $font-text;
    font-size: $fontsize-h5-h6;
    font-weight: 200;
}
p{
    font-family: $font-text;
    font-size: $fontsize-text;
    font-weight: 400;
}
img{
    max-width: 100%;
    height: auto;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav{
    background-color: $color-bg-body-main-1 !important;
    &__items{
        display: flex;
        justify-content: flex-end;
    }
    &__link{
        font-size: $fontsize-nav;
        color: $color-text-dark;
        &--active{
            color: $color-text-light;
        }
    }
}
.c-header{
    &__hero{
        background-image: url(../Images/heroimage.png);
        background-repeat: none;
        height: 80vh;
        width: auto;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
    }
    &__title{
        color: $color-bg-body-neutraal;
        text-align: center;
        padding-top: 6.25rem;
        color: $color-text-light;
    }
    &__cta{
        color: $color-text-light;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-top: 30rem;
        &:hover{
            background-color: $color-bg-body-neutraal;
            color: $color-bg-body-accent;
        }
    }
}
.c-main{
    display: flex;
    margin: 6.25rem 0rem;
}
.card{
    width: 20rem;
    height: 20rem;
    margin-bottom: 6.25rem;
}
.c-footer{
    background-color: $color-bg-body-main-2;
    color: $color-text-dark;
    padding-top: 6.25rem;
    &__heading {
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 12px;
        &:after {
            content: '';
            width: 25px;
            border-bottom: 1px solid $color-bg-body-accent;
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            border-bottom: 1px solid $color-bg-body-accent;
        }
    }
    &__link a {
        text-decoration: none;
        color: $color-text-dark;
        line-height: 2.5rem;
        font-size: 1rem;
        transition: all 0.5s;
        &:hover {
            color: $color-bg-body-accent;
        }
    }
    &__contact {
        color: $color-bg-body-dark-neutraal;
        font-size: 1rem;
    }
    &__social{
        text-decoration: none;
        font-size: 1rem;
        height: 2.125rem;
        width: 2.125rem;
        line-height: 2.125rem;
        border-radius: .1875rem;
        text-align: center;
        display: inline-block;
        color: $color-text-light !important;
        &:hover{
            color: $color-text-active !important;
        }
    }
    &__list{
        display: flex;
        margin-left: -2.5rem;
        &__listitem{
            text-decoration: none;
            display: flex;
        }
    }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/