/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
//Color settings
$color-bg-body-main-1: #7B7B7B;
$color-bg-body-main-2: #4D565B;
$color-bg-body-neutraal: #E9EEE7;
$color-bg-body-dark-neutraal: #211D1A;
$color-bg-body-accent: #95431E;

$color-text-dark: #211D1A;
$color-text-light: #E9EEE7;
$color-text-active:#95431E;
$color-text-btn: #95431E;
$color-text-disabled: #B5B5B5;

$color-border: #95431E;

//Font settings
$font-h1: 'Work Sans', sans-serif;
$font-h2: 'Work Sans', sans-serif;
$font-h3: 'Work Sans', sans-serif;
$font-h4: 'Josefin Sans', sans-serif;
$font-text: 'Josefin Sans', sans-serif;
$font-button: 'Josefin Sans', sans-serif;

//Size settings
$fontsize-text: 1rem;
$fontsize-header: 1.75rem;
$fontsize-h1: 2.9863rem;
$fontsize-h2: 2.4881rem;
$fontsize-h3: 2.0737rem;
$fontsize-h4: 1.7281rem;
$fontsize-nav: 1.125rem;
$fontsize-btn: 1.2rem;
$fontsize-socialicons: .8331rem;
$fontsize-footer: .8331rem;

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-brand{
    text-align: center;
    display: flex;
    justify-content: center;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.bi-facebook{
    background-color: #4e71a8 !important;
    color: #000000 !important;
}
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav{
    background-color: $color-bg-body-main-1 !important;
    &__items{
        display: flex;
        justify-content: flex-end;
    }
}
.c-header{
    &__hero{
        background-image: url();
    }
    &__title{
        color: $color-bg-body-neutraal;
        text-align: center;
    }
}
.c-footer{
    background-color: $color-bg-body-main-1 !important;
    &__heading {
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 12px;
        &:after {
            content: '';
            width: 25px;
            border-bottom: 1px solid $color-bg-body-neutraal;
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            border-bottom: 1px solid $color-bg-body-accent;
        }
    }
    &__link a {
        text-decoration: none;
        color: $color-bg-body-dark-neutraal;
        line-height: 2.5rem;
        font-size: 1rem;
        transition: all 0.5s;
        &:hover {
            color: $color-bg-body-accent;
        }
    }
    &__contact {
        color: $color-bg-body-dark-neutraal;
        font-size: 1rem;
    }
    &__social{
        font-size: 1rem;
        height: 2.125rem;
        width: 2.125rem;
        line-height: 2.125rem;
        border-radius: .1875rem;
        text-align: center;
        display: inline-block;
        &--facebook{
            background-color: #4e71a8;
            color: #000000 !important;
        }
        &--instagram{
            background-color: #55acee !important;
            color: #ffffff !important;
        }
    }
    &__listitem{
        text-decoration: none;
        display: inline-flex;
    }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/