/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-brand {
  text-align: center;
  display: flex;
  justify-content: center;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.bi-facebook {
  background-color: #4e71a8 !important;
  color: #000000 !important;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  background-color: #7B7B7B !important;
}
.c-nav__items {
  display: flex;
  justify-content: flex-end;
}

.c-footer {
  background-color: #7B7B7B !important;
}
.c-footer__heading {
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 12px;
}
.c-footer__heading:after {
  content: "";
  width: 25px;
  border-bottom: 1px solid #E9EEE7;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #95431E;
}
.c-footer__link a {
  text-decoration: none;
  color: #211D1A;
  line-height: 2.5rem;
  font-size: 1rem;
  transition: all 0.5s;
}
.c-footer__link a:hover {
  color: #95431E;
}
.c-footer__contact {
  color: #211D1A;
  font-size: 1rem;
}
.c-footer__social {
  font-size: 1rem;
  height: 2.125rem;
  width: 2.125rem;
  line-height: 2.125rem;
  border-radius: 0.1875rem;
  text-align: center;
  display: inline-block;
}
.c-footer__social--facebook {
  background-color: #4e71a8;
  color: #000000 !important;
}
.c-footer__social--instagram {
  background-color: #55acee !important;
  color: #ffffff !important;
}
.c-footer__listitem {
  text-decoration: none;
  display: inline-flex;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/